<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SkillMapDB"
		providerName ="Microsoft.Data.SqlClient"
		connectionString ="Data source=MAR0625633W10-1 Initial Catalog=SkillMap; User ID= sa; Password= senac2025; TrustServerCertificate=true; Integrated Security=false"
		/>
	</connectionStrings>
</configuration>